


.l22{
	margin:10 0 0 0;
}


.f1{
	font-size:40;
}

.f2{
	font-size:12;
}

.c1{
	color:#ff0000;
}

.c2{
	color:#00ff00;
}

.s1{
	font-style:normal;
}

.s2{
	font-style:italic;
}

.s3{
	font-style:bold;
}

.de1{
	text-decoration:line-through;
}

.de2{
	text-decoration:underline;
}

.de3{
}


